@font-face {
    font-family: Gsans;
    src: url(/fonts/gsans.ttf);
  }
@font-face {
    font-family: Fredoka;
    src: url(/fonts/fredoka.ttf);
}

html {
   background-color: #221F30;
   color: white;
 text-align: center;
   display: flex;
   justify-content: center;

}

h1,h2,h3 {
   font-family: "Gsans";
   color: white;
}

h4,h5,p {
    font-family: "Fredoka";
}

#proxyFrame {
	border: none;
	resize: both;
    text-align: center;
    justify-content: center;
}

.white {
    justify-content: center, space-between;
    font-family: "Gsans";
}

#uv-address {
      background-color: transparent;
      border: 1.5px #ffffff solid;
    border-radius: 12px;
      padding: 12px;
    text-align: center;
      color: black;
      font-family: "Gsans";
      background-color: white;
      outline: none;
      transition: hover .2s;
    }

    .bookmarks {
      background-color: #221F30;
      color: white;
      padding: 10px 20px;
      text-align: center;
      text-decoration: none;
      display: inline-block;
      font-size: 16px;
      margin: 5px;
      border: 3px solid white;
        border-radius: 4px;
    }
    
    .bookmarks img {
      width: 110px;
      height: 110px;
      border-radius: 10px;
      aspect-ratio: 1 / 1;
    }

    .bookmarks:hover {
      transform: scale(1.1);
    }
